.ui360reading {

	float:left;
	width:75px;
}

.readingTitle {
	overflow:hidden;
	margin-top:17px;
}

.readingTitle a {
	color:white;
	background-color: black;
	font-size:30px;
	padding:5px;
}

.readingTitle h1 {
	margin-top:0px;
	background-color:white;
	color:black;
	text-decoration:none;
}

.non-rounded-corner-input {

  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.reading-stats {
	height:30px;
	text-align:right;
}

.reading-stats span{
	line-height:30px;
	color:#999;
} 

.reading-comment-header {
	margin-top:40px;
}

.reading-header-username {
	padding-left:20px;
}

.reading-header {
	padding-top:10px; 
	color:#999;
	font-size:16px;
}

.arrow_box {
	position: relative;
	background: #f4ff5c;
}
.arrow_box:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(244, 255, 92, 0);
	border-left-color: #f4ff5c;
	border-width: 11px;
	margin-top: -10px;
}
