.ui360reading {

	float:left;
	width:75px;
}

.userCreated {

	margin-top:17px;
}

.userCreated a {

	color:#999;
	background-color: black;
	font-size:15px;
	padding:3px;

}

.readingTitleMobile {
	overflow:hidden;
	margin-top:3px;

	max-height:165px;
	text-overflow: ellipsis;

	  -webkit-line-clamp: 4;
	  -webkit-box-orient: vertical;
	  display: -webkit-box;
	  color:white;
}

.readingTitleMobile a {
	color:white;
	background-color: black;
	font-size:20px;
	padding:3px;
}

.readingTitleMobile h1 {
	margin-top:0px;
	background-color:white;
	color:black;
	text-decoration:none;
}

.readingTitle {
	overflow:hidden;
	margin-top:3px;

	max-height:165px;
	text-overflow: ellipsis;

	  -webkit-line-clamp: 4;
	  -webkit-box-orient: vertical;
	  display: -webkit-box;
	  color:white;
}

.readingTitle a {
	color:white;
	background-color: black;
	font-size:30px;
	padding:3px;
}

.readingTitle h1 {
	margin-top:0px;
	background-color:white;
	color:black;
	text-decoration:none;
}

.non-rounded-corner-input {

  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.reading-stats {
	height:30px;
	text-align:right;
}

.reading-stats span{
	line-height:30px;
	color:#999;
}

.reading-comment-header {
	margin-top:40px;
}

.reading-header-username {
	padding-left:20px;
}

.reading-header {
	padding-top:10px;
	color:#999;
	font-size:16px;
}

.sidebar-header {
	font-size:20px;
	padding-top:5px;
	padding-left:10px;
	padding-bottom:5px;
	margin-bottom:5px;
	margin-top:5px;
	font-weight:200;
	text-align:left;

	-moz-border-radius : 5px; /* Firefox */
    -webkit-border-radius : 5px; /* Safari & Chrome */
    -khtml-border-radius : 5px; /* Linux browsers */
    border-radius : 5px; /* CSS3 compatible browsers */
}

.sidebar-header a{
	color:black;
}

.sidebar-header a:hover{
	text-decoration:none;
}

.arrow_box {
	position: relative;
	/* background: #f4ff5c; */
	background:#262626;
}
.arrow_box a {
	color:white;
}
.arrow_box:after {
}

menu_font {
	font-size:20px;
	padding-left:5px;
	margin-bottom:0px;
	style:font-weight:200;

}

.shown_row {

	-moz-border-radius : 10px; /* Firefox */
    -webkit-border-radius : 10px; /* Safari & Chrome */
    -khtml-border-radius : 10px; /* Linux browsers */
    border-radius : 10px; /* CSS3 compatible browsers */

    border-style: solid;
    border-width: 1px;
    border-color: #262626
    padding: 0px;
    border-spacing: 0px;
    overflow: hidden;
    background-color:#262626;
    color:white;

}

.reading_row {

	-moz-border-radius : 10px; /* Firefox */
    -webkit-border-radius : 10px; /* Safari & Chrome */
    -khtml-border-radius : 10px; /* Linux browsers */
    border-radius : 10px; /* CSS3 compatible browsers */

    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    padding: 0px;
    border-spacing: 0px;
    overflow: hidden;

}

.glyphicon-selected {
	color:white;
}
