.ui360reading {

	float:left;
	width:75px;
}

.readingTitle {
	overflow:hidden;
	margin-top:17px;
}

.readingTitle a {
	color:white;
	background-color: black;
	font-size:30px;
	padding:5px;
}

.readingTitle h1 {
	margin-top:0px;
	background-color:white;
	color:black;
	text-decoration:none;
}

.non-rounded-corner-input {

  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.reading-stats {
	height:30px;
	text-align:right;
}

.reading-stats span{
	line-height:30px;
	color:#999;
} 

.reading-comment-header {
	margin-top:40px;
}

.reading-header-username {
	padding-left:20px;
}

.reading-header {
	padding-top:10px; 
	color:#999;
	font-size:16px;
}