<div class="container" ng-controller="readingCtrl" style="background-color:#FFFFFF;">
	<div class="row">
		<div class="col-xs-12" style="overflow:hidden;">
		    <div class="ui360 sm2_playing" style="float:left; width:75px;">
		     	<a ng-href="{{audio_link}}" class="norewrite exclude button-exclude inline-exclude"></a>
		    </div>
		    <div style="overflow:hidden;margin-top:15px;">
		    	<h1 style="margin-top:0px;background-color:white;color:black;text-decoration:none;">{{reading.title}}</h1>
		    </div>
		</div>
	</div>
	<div class="row">

	</div>
</div>
