<div class="container" ng-controller="uploadCtrl">
	<div class="row">
	  	<div class="col-xs-10 col-xs-offset-1">
	  		<div class="panel panel-default">
	  			<div class="panel-body">
			  		<h3>Upload to bookreadin.gs</h3>
			  		<p><button ng-click="upload_audio_file()" type="button" class="btn btn-primary btn-outline">Choose Mp3 File To Upload</button></p>
			  	</div>
		  	</div>
	  	</div>
	 </div>
	 <!-- <div ng-show="data.audioUploaded" class="row"> -->
	 <div class="row">
	 	<div class="col-xs-10 col-xs-offset-1">
	 		<div class="panel panel-default">
		 		<div class="panel-heading">
		 			We need a little more information.  Click 'Save' to post this reading.
		 		</div>
		 		<div class="panel-body">
		 			<form role="form">
		 				<div class="form-group">
		 					<label for="Title">Title</label>
							<input class="form-control"	placeholder="Enter Title" id="ReadingTitle">
		 				</div>
		 				<div class="form-group">
		 					<label for="Description">Description</label>
							<input class="form-control"	placeholder="Enter Description" id="ReadingDescription">
		 				</div>
		 				<div class="form-group">
		 					<label for="Tags">Tags</label>
							<input type="text" class="form-control"	data-role="tagsinput" id="tags">
		 				</div>
		 				<div class="form-group">
		 					<label for="coverimage">Cover image</label>
				 			<div class="row">
				 				<div class="col-xs-12">
				 					<img class="center-block img-responsive" ng-src="{{reading_cover_photo}}">
					 			</div>
					 		</div>
					 		<div class="row">
			 						<div class="col-xs-12">
					 					<button type="button" class="btn btn-default btn-xs btn-block" ng-click="upload_cover_image(reading)">Choose New Image</button>
					 				</div>
				 				</div>
				 			</div>
				 		</div>
			 		</form>
		 		</div>
		 	</div>
	 	</div>
	 </div>
</div>
