<div class="container-fluid" ng-controller="uploadCtrl">
	<div class="row">
	  	<div class="col-xs-4 col-sm-4 col-sm-offset-4 panel panel-default">
	  		<h3>Upload to bookreadin.gs</h3>
	  		<p><button ng-click="upload_file(readingsRef)" type="button" class="btn btn-primary btn-outline">Choose File To Upload</button></p>
	  	</div>
	 </div>
	 <div class="row">
	 	<div class="col-xs-8 col-xs-offset-2">
	 		<div class="panel panel-default">
		 		<div class="panel-heading">
		 			We need a little more information.  Click 'Save' to post this reading.
		 		</div>
		 		<div class="panel-body">
		 			<div class="row">
		 			</div>
		 		</div>
		 	</div>
	 	</div>
	 </div>
</div>
