<link href="css/mainpage.css" rel="stylesheet" />

<div class="container" ng-controller="mainPageController" style="background-color:#FFFFFF;">
	<div class="col-sm-2" style='font-size:20px;margin-top:10px;'>
		<div class="row">
			<div class="col-xs-12">
				<div>
					<b>readin.gs</b>
				</div>
				<div>
					<h1 class="sidebar-header" ng-class="(filterByIndex==0) ? 'arrow_box' : ''"><a href="/#/featured">Featured</a></span>
				</div>
				<div>
					<h1 class="sidebar-header" ng-class="(filterByIndex==2) ? 'arrow_box' : ''"><a href="/#/recent/">Recent</a></span>
				</div>
				<div>
					<h1 class="sidebar-header" ng-class="(filterByIndex==1) ? 'arrow_box' : ''"><a href="/#/popular">Popular</a></h1>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-10" style='margin-top:10px;'>
		<div ng-repeat="reading in readings track by reading.$id">
			<div class="row" ng-if="reading.cover_image_url" ng-style="{'background-image':'url({{CDNReadingsPathFP}}{{reading.cover_image_url}}/convert?w=950&h=300&fit=crop&align=top)'}" style='height:300px;background-repeat:no-repeat;background-size:cover;margin-bottom:10px;'>
				<div class="col-xs-12" style='padding-left:0px;'>
			        <div class="media" >
					    <div class="ui360 ui360reading" ng-click="readingPlayed(reading.$id, reading.readingsByMostPlayedId)">
					     	<a ng-href="{{CDNReadingsPathCF}}{{reading.audio_key}}?s={{randomAudioPlayerValue}}" class="norewrite exclude button-exclude inline-exclude"></a>
					    </div>
						<div class='media-body' style="overflow:hidden;">
							<div class="row">
								<div class="col-xs-9" style='padding-right:0px;'>
									<div class="userCreated">
										<a ng-href="/#/reading/{{reading.$id}}/{{reading.slug}}/">{{reading.created_by_name}} <span ng-if="readingProperties[reading.$id].timesince">- {{readingProperties[reading.$id].timesince}}</span></a>
									</div>
								</div>
								<div class="col-xs-3" style='text-align:right;'>
									<div style='margin-top:17px;'>
										<button ng-show="loginObj.user" type="button" class="btn btn-default btn-xs" ng-click="likeReading(reading.$id)" ng-class="{ 'active' : readingProperties[reading.$id].reading_liked }">
											<span class="glyphicon glyphicon-heart" ng-class="{ 'red' : readingProperties[reading.$id].reading_liked }" title="Like"></span>
										</button>
										<a role="button" ng-show="reading.purchaseLink" target="_blank" href="{{reading.purchaseLink}}&tag=bookreadings-20" class="btn btn-default btn-xs" title="Buy Book">
											<span class="glyphicon glyphicon-fire"></span>
										</a>
										<a ng-href="{{audio_link}}" download="{{reading.audio_filename}}" role="button" class="btn btn-default btn-xs" title="Download">
											<span class="glyphicon glyphicon-save"></span>
										</a>
									</div>
								</div>
							</div>
					    	<div class="readingTitle">
					    		<a ng-href="/#/reading/{{reading.$id}}/{{reading.slug}}/">{{reading.title}}</a>
						    </div>
						    <div style='margin-top:3px;'>
								<a ng-repeat="tag in reading.tags" href="/#/search/{{tag}}/" type="button" class="btn btn-xs" style="margin-right:4px;background-color:black;color:#999;">
									#{{tag}}
								</a>
						    </div>
				        </div>
				    </div>
			     </div>
			</div>
			<div ng-if="reading.cover_image_url" style='position:relative'>
				<div style="position:absolute; bottom:15px;right:0;color:white;">
					bookreadin.gs
				</div>
			</div>
			<div style='position:relative'>
				<div style="position:absolute; bottom:17px;left:0;color:white;background-color:black;font-size:12px;">
					<span style="background-color:black;padding:3px;"><span class="glyphicon glyphicon-play"></span> &nbsp;{{ readingProperties[reading.$id].play_count}}  | &nbsp;<span class="glyphicon glyphicon-heart"></span> &nbsp;{{readingProperties[reading.$id].like_count}} | &nbsp;<span class="glyphicon glyphicon-comment"></span> &nbsp;{{readingProperties[reading.$id].comment_count}}</span>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="controllers/mainpage.js"></script>
