<div class="container" ng-controller="mainPageController" style="background-color:#FFFFFF;">
	<div class="col-md-2 hidden-xs hidden-sm" style='font-size:20px;margin-top:10px;'>
		<div class="row">
			<div class="col-xs-12">
				<div>
					<h1 class="sidebar-header" ng-class="(filterByIndex==0) ? 'arrow_box' : ''"><i class="glyphicon glyphicon-star" ng-class="(filterByIndex==0) ? 'glyphicon-selected' : ''"></i> <a href="/#/featured">Featured</a></span>
				</div>
				<div>
					<h1 class="sidebar-header" ng-class="(filterByIndex==2) ? 'arrow_box' : ''"><i class="glyphicon glyphicon-time" ng-class="(filterByIndex==2) ? 'glyphicon-selected' : ''"></i> <a href="/#/recent/">Recent</a></span>
				</div>
				<div>
					<h1 class="sidebar-header" ng-class="(filterByIndex==1) ? 'arrow_box' : ''"><i class="glyphicon glyphicon-heart" ng-class="(filterByIndex==1) ? 'glyphicon-selected' : ''"></i> <a href="/#/popular">Popular</a></h1>
				</div>
				<div style='margin-top:50px;'>
					<h5>Popular Tags</h5>
				</div>
				<div ng-repeat="tag in tags_by_popularity">
					<h6><span class="label label-primary" style="background-color:#262626;"><a href="/#/tag/{{tag.tag_name}}/" style="color:white;">#{{tag.tag_name}}</a></span></h6>
				</div>
				<div style='margin-top:50px;'>
					<h5><span class="label label-primary"><a href="/" style='color:white;'><i class="glyphicon glyphicon-info-sign"></i> About Bookreadin.gs</a></span></h5>
				</div>
			</div>
		</div>
	</div>

	<!-- Mobile headers for categories -->
	<div class="col-xs-12 col-sm-12 col-md-10" style='margin-top:10px;'>
        <div class="row hidden-md hidden-lg" ng-if="(filterByIndex==0)" style='margin-bottom:5px;'>
			<div class="col-xs-12 shown_row">
	        	<h2 style="margin-top:0px;margin-bottom:0px;"><span class="label label-primary" style="display:block;background-color:#262626;"><i class="glyphicon glyphicon-star"></i> Featured</h2>
	        </div>
        </div>
        <div class="row hidden-md hidden-lg" ng-if="(filterByIndex==2)" style='margin-bottom:5px;'>
			<div class="col-xs-12 shown_row">
	        	<h2 style="margin-top:0px;margin-bottom:0px;"><span class="label label-primary" style="display:block;background-color:#262626;"><i class="glyphicon glyphicon-time"></i> Recent</h2>
	        </div>
        </div>
        <div class="row hidden-md hidden-lg" ng-if="(filterByIndex==1)" style='margin-bottom:5px;'>
			<div class="col-xs-12 shown_row">
	        	<h2 style="margin-top:0px;margin-bottom:0px;"><span class="label label-primary" style="display:block;background-color:#262626;"><i class="glyphicon glyphicon-heart"></i> Popular</h2>
	        </div>
        </div>
		<div class="row" ng-if="tag_name">
			<div class="col-xs-12" style="padding-left:0px;padding-right:0px;">
				<h2 style="margin-top:0px;"><span class="label label-primary" style="display:block;background-color:#262626;"><a href="/#/tag/{{tag_name}}" style="color:white;">#{{tag_name}}</a></h2>
			</div>
		</div>
		<div ng-repeat="reading in readings track by reading.$id">
			<div class="row reading_row" ng-if="reading.cover_image_url" ng-style="{'background-image':'url({{CDNReadingsPathFP}}{{reading.cover_image_url}}/convert?w=950&h=300&fit=crop&align={{reading.align}})'}" style='height:300px;background-repeat:no-repeat;background-size:cover;margin-bottom:10px;'>
				<div class="col-xs-12" style='padding-left:0px;'>
			        <div class="media" >
					    <div class="ui360 ui360reading" ng-click="readingPlayed(reading.$id, reading.readingsByMostPlayedId)">
					     	<a ng-href="{{CDNReadingsPathCF}}{{reading.audio_key}}?s={{randomAudioPlayerValue}}" class="norewrite exclude button-exclude inline-exclude"></a>
					    </div>
						<div class='media-body' style="overflow:hidden;">
							<div class="row">
								<div class="col-xs-9" style='padding-right:0px;'>
									<div class="userCreated">
										<a ng-href="/#/reading/{{reading.$id}}/{{reading.slug}}/"><span class="hidden-xs">{{reading.created_by_name}}</span><span class="hidden-sm hidden-md hidden-lg" style='font-size:12px;'>{{reading.created_by_name}}</span> <span ng-if="readingProperties[reading.$id].timesince">-</span> <span class="hidden-xs" ng-if="readingProperties[reading.$id].timesince">{{readingProperties[reading.$id].timesince}}</span><span class="hidden-sm hidden-md hidden-lg" ng-if="readingProperties[reading.$id].timesince" style='font-size:12px;'>{{readingProperties[reading.$id].timesince}}</span></a>
									</div>
								</div>
							</div>
					    	<div class="readingTitle hidden-xs hidden-sm">
					    		<a ng-href="/#/reading/{{reading.$id}}/{{reading.slug}}/">{{reading.title}}</a>
						    </div>
					    	<div class="readingTitleMobile hidden-md hidden-lg">
					    		<a ng-href="/#/reading/{{reading.$id}}/{{reading.slug}}/">{{reading.title}}</a>
						    </div>
						    <!-- Remove tags from main page -->
						    <div class="row hidden-xs hidden-sm hidden-md hidden-lg">
							    <div class="col-md-12" style='margin-top:3px;'>
									<a ng-repeat="tag in reading.tags" href="/#/tag/{{tag}}/" type="button" class="btn btn-xs" style="margin-right:4px;background-color:#262626;color:#999;">
										#{{tag}}
									</a>
							    </div>
							</div>
				        </div>
				    </div>
			     </div>
			<!-- desktop buttons -->
			<div class="hidden-xs hidden-sm" style='position:relative;' ng-if="reading.cover_image_url">
				<div style='position:absolute;top:10px;right:10px;color:white'>
					<button ng-show="loginObj.user" type="button" class="btn btn-default btn-xs" ng-click="likeReading(reading.$id)" ng-class="{ 'active' : readingProperties[reading.$id].reading_liked }">
						<span class="glyphicon glyphicon-heart" ng-class="{ 'red' : readingProperties[reading.$id].reading_liked }" title="Like"></span>
					</button>
					<a role="button" ng-show="reading.purchaseLink" target="_blank" href="{{reading.purchaseLink}}?tag=bookreadings-20" class="btn btn-default btn-xs" title="Buy Book">
						<span class="glyphicon glyphicon-fire"></span>
					</a>
					<a ng-href="{{CDNReadingsPathCF}}{{reading.audio_key}}" download="{{reading.audio_filename}}" role="button" class="btn btn-default btn-xs" title="Download">
						<span class="glyphicon glyphicon-save"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="hidden-xs hidden-sm" ng-if="reading.cover_image_url" style='position:relative'>
			<div style="position:absolute; bottom:15px;right:0;color:white;">
				bookreadin.gs
			</div>
		</div>
			<!-- mobile buttons -->
			<div style="position:relative" class="hidden-md hidden-lg" ng-if="reading.cover_image_url">
				<div style="position:absolute; bottom:18px;right:0px;color:white;">
					<button ng-show="loginObj.user" type="button" class="btn btn-default btn-sm" ng-click="likeReading(reading.$id)" ng-class="{ 'active' : readingProperties[reading.$id].reading_liked }">
						<span class="glyphicon glyphicon-heart" ng-class="{ 'red' : readingProperties[reading.$id].reading_liked }" title="Like"></span>
					</button>
					<a role="button" ng-show="reading.purchaseLink" target="_blank" href="{{reading.purchaseLink}}&tag=bookreadings-20" class="btn btn-default btn-sm" title="Buy Book">
						<span class="glyphicon glyphicon-fire"></span>
					</a>
					<a ng-href="{{audio_link}}" download="{{reading.audio_filename}}" role="button" class="btn btn-default btn-sm" title="Download">
						<span class="glyphicon glyphicon-save"></span>
					</a>
				</div>
			</div>
			<div style='position:relative' ng-if="reading.cover_image_url">
				<div style="position:absolute; bottom:17px;left:0px;color:white;background-color:#262626;font-size:12px;">
					<span style="background-color:#262626;padding:3px;"><span class="glyphicon glyphicon-play"></span> &nbsp;{{ readingProperties[reading.$id].play_count}}  | &nbsp;<span class="glyphicon glyphicon-heart"></span> &nbsp;{{readingProperties[reading.$id].like_count}} | &nbsp;<span class="glyphicon glyphicon-comment"></span> &nbsp;{{readingProperties[reading.$id].comment_count}}</span>
				</div>
			</div>
	</div>
	<div class="row" ng-if="loading">
		<div class="col-xs-12">
			<h2 style="margin-top:0px;"><span class="label label-primary" style="display:block;background-color:white;color:#262626;">Loading More ...</h2>
		</div>
	</div>
</div>

